<footer>
  <div class="ui red inverted segment">
    {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}

{% stylesheet 'scss' %}
  .segment{
    a{
      color: #CCC;
      &:hover{
        color: #FFF;
      }
    }
  }
{% endstylesheet %}
